body.best-matches .welcome,body.best-matches .best-players,.body.best-matches .best-matches-wrapper{
    display: none;
}

.best-all-time-matches{
    margin:2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.best-all-time-matches div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.3rem;
}
.best-all-time-matches div p:last-of-type{
    padding-bottom: 0.5em;
}
.best-all-time-matches img {
    border-radius: 0.3rem;
    max-width: 70%;
    height: auto;
    margin-bottom: 1em;
}
.best-all-time-matches div .number{
    
    border:1px solid black;
    padding: 0.1em 0.2em; 
    border-radius: 50%;
  
}
.best-all-time-matches div span {
    padding-top:0.5em;
    margin-bottom: 1em;
    font-weight: bold;
}
.best-all-time-matches div:hover{
    border:2px solid black;
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);
}
.best-all-time-matches p{
    padding-left:0.7em;
}
