.best-matches-wrapper{
    max-width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;   
    background-image:url("https://www.desktopbackground.org/download/1920x1080/2014/06/16/778840_beautiful-football-stadium-hd-wallpapers-wallpapers-z_1920x1080_h.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto ;
    span{
        background: black;
        opacity: $opacitySize;
        max-width: 60%;
        text-align: center;
        color:white; 
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    a{
        text-decoration: none;
    }
    button{
        padding: 0.4em 1em;
        border-radius: 0.3em;
        background: #DBD3C2;
        color: black;
        font-size: 0.8em;
        transition: 0.7s;
    }
    
}
.best-matches-wrapper:hover{
    box-shadow: 0 0 5em 0.1em rgba(102,51,153,0.50);
}
.best-matches-wrapper button:hover{
    background: red;
}

body.best-matches .welcome,body.best-matches .best-players,
body.best-matches .best-matches-wrapper,body.best-matches .news-feed,
body.best-matches .players-hr{
    display: none;
}
.best-all-time-matches{
    margin:2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin-bottom: 1em;
        padding: 0.5em;
        border-radius: 0.3rem;
    }
    div p:last-of-type{
        padding-bottom: 0.5em;
    }
    img{
    border-radius: 0.3rem;
    max-width: 70%;
    height: auto;
    margin-bottom: 1em;
    }

}
.best-all-time-matches div .number{  
    border:1px solid black;
    padding: 0.1em 0.2em; 
    border-radius: 50%;
}
.best-all-time-matches div span {
    padding-top:0.5em;
    margin-bottom: 1em;
    font-weight: bold;
}
.best-all-time-matches div:hover{
    border:2px solid black;
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);
}

