
body.best-all-time-defenders .welcome,body.best-all-time-defenders .best-players,
body.best-all-time-defenders .best-matches-wrapper,body.best-all-time-defenders .news-feed,
body.best-all-time-defenders .players-hr{
    display: none;
}
body.best-all-time-defenders h3{
    margin-top: 1em;
    font-family: 'Noto Serif TC', serif;
}
body.best-all-time-defenders hr{
    width: $hrWidth;
    border: $borderColor;
}
.top-defenders{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.defender-wrapper{
    display: flex;
    flex-direction: column;
    // width: $fixedSize;
    // height: $fixedSize;
    margin: 1em auto;
}

.defenders-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.defender-info, .defender-pic{
    width: $picsFixedSize;
    height: $picsFixedSize;
    border:2px solid black;
    border-radius: 0.3em;
    
}
.defender-info span{
  margin-bottom: 0.3rem;
}
.defender-pic{
   margin-bottom: 0.5rem;
   overflow: hidden;
}
// .defender-pic:hover{
//     opacity: 0.15;
// }
.defender-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4D07B;
    color:black;
    font-weight: bold;
}
.defender-info span{
    
}
.defender-style,.defender-style-name{
    font-weight: bold;
    text-align: center;
}
.defender-name,.defender-clubs{
    text-align: center;
}
.defenders-hr,.attacker-hr{
    width: 7.5rem;
    margin:0.5rem auto;
    border:1px solid black;
}