footer{
    background: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .left-side-footer,.right-side-footer{
        padding: 0 2em;
    }
    span,i{
        color:#8A8A8A;
    }
    a{
        margin-right: 0.8em;
        color:#8A8A8A;
        text-decoration: none;
        transition: 0.7s;
    }
}
footer a:hover{
    border-bottom: 1px solid red;
    color:white;
}
footer i:hover{
    color:white;
}
body.about footer a:hover{
    border-bottom: 1px solid lightgreen;
}
body.best-all-time-goalkeepers footer a:hover{
    border-bottom: 1px solid lightgreen;
}