footer{
    background: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
footer span,footer i {
    color:#8A8A8A;
}
footer .left-side-footer{
    padding: 0 2em;
}
footer .right-side-footer{
    padding: 0 2em;
}

footer a{
    margin-right: 0.8em;
    color:#8A8A8A;
    text-decoration: none;
}
footer a:hover{
    border-bottom: 1px solid red;
    color:white;
}
footer i:hover{
    color:white;
}
