body.best-all-time-goalkeepers .welcome,body.best-all-time-goalkeepers .best-players,
.best-all-time-goalkeepers .best-matches-wrapper,body.best-all-time-goalkeepers .news-feed,
body.best-all-time-goalkeepers .players-hr{
    display: none;
}
.keepers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h3{
    text-align: center;
    padding: 0.5em 2em;
    margin:0;
    }
    hr{
    width: $hrWidth;
    border: $borderColor;
    }
}
.top-keepers{
    display: grid;
    gap:1em;
    grid-template-columns:1fr ;
    padding: 2rem;   
    .main-keeper-wrapper{
        margin:1rem 0.5em 1rem 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    padding: 1em;
    flex-wrap: wrap;
    border:2px solid grey;
    }
    .name{
     margin-top:0.5em;
    color:black;
    font-weight: bold;
    padding-bottom: 0.7em;
    font-size: 1.2em;
    }
    img{
    border-radius: 0.3em;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    }
    .main-keeper-wrapper:hover{
        box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);
        border:2px solid lightgreen;
    }
    .keeper-number{
        font-weight: bold;
    }
    hr.top-keeper-border{
        width: 2em;
    }
}
.keeper-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.keeper-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    img{
        margin:0;
    }
}
.keepers-picture{
    // margin-right:1em;
    text-align: center;
    img{
    margin:0;
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);
    }
}
.keeper-birthday,.keeper-country,.keeper-death{
 font-weight: bold;
}
.main-honours{
    background: $goalkeepersHonoursColor;
    font-weight: bold;
    // border:1px solid black;
}
.team-honours{
    background: $goalkeepersTeamColor;
    // border:1px solid black;
}
