body.about .box{
display: none;
}
.listing-posts{
    display: none;
}

.site-header{
    background: #252525;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}
.site-title a{
    text-decoration: none;
    font-size: 2em;
}
.site-description{
    padding: 0;
    color:#FFFFFF;
    font-weight: bold;
}
.site-header span{
    color:white;
    font-family: 'Source Code Pro', monospace;
}
.site-header span:last-of-type{
    color:red;
    font-family: 'Source Code Pro', monospace;
}

