body{
    background: #E6E6E6
}
body.about .box{
display: none;
}
.listing-posts{
    display: none;
}

.site-header{
    background: #252525;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}
.site-title a{
    text-decoration: none;
    font-size: 2em;
    padding-left: 0.5em;
}
.site-description{
    padding: 0;
    color:#FFFFFF;
    font-weight: bold;
}
.site-header span{
    color:white;
    font-family: 'Source Code Pro', monospace;
}
.site-header span:last-of-type{
    color:red;
    font-family: 'Source Code Pro', monospace;
}

.alex-ferguson{
    margin: 0.5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.ferguson-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 25%;
    padding-left: 1em;
}
.alex-ferguson img{
    max-width: 70%;
    height: auto;
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);

}
.alex-ferguson p{
    font-weight: bold;
    color: black;
   text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.alex-ferguson .quote-author{
    font-family: 'Charmonman', cursive;
    color:#FB1515;
    font-size: 1.2em;
    
    text-shadow: 2px 2px 5px black;
}
.quote-author{
    text-align: right;
}

