.alex-ferguson{
    max-width: 80%;
    overflow: hidden;
    margin: 0.5em 2em;
    margin:1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.ferguson-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 25%;
    padding-left: 1em;
}
.alex-ferguson .alex-wrapper{
    max-width: 75%;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.50);

}
.alex-ferguson p{
    font-weight: bold;
    color: black;
   text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.alex-ferguson .quote-author{
    font-family: 'Charmonman', cursive;
    color:#FB1515;
    font-size: 1.2em;
    
    text-shadow: 2px 2px 5px black;
}
.quote-author{
    text-align: right;
}