.navigation{
    display: none;
    // justify-content: center;
    // align-items: center;
    width: 100%;
}
.navigation ul{
    width: 100%;
    @include flexRowStyle;
    flex-direction: column;
    padding: 0;
    
    
}
.navigation ul li a {
    text-decoration: none;
    color:#FB1515;
    margin-right: 0.7em;
    padding: 0.3em 0;
    border-radius: 0.3em;
    transition: 0.5s;
}
.navigation ul li a:hover{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color:white;
    font-size: 1.2rem;
}
#navigation-check-state{
    display: none;
}
.site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    label{
        color:white;
        margin-left: 2rem;
    }
}
.site-header{
    background: $siteHeaderBackgroundColor;
    @include flexColumnStyle;
    position: relative;
    z-index: 1000;
    padding: 0.5em 0;
    position: sticky;
    top:0;
    max-width: 100%;
    padding: 0;
}
.site-title a{
    text-decoration: none;
    font-size: $siteTitleFontSize;
    padding-left: 0.5em;
}
.site-description{
    display: none;
    // padding: 0;
    // color:#FFFFFF;
    // font-weight: bold;
    // font-size: 1.2em;
}
.site-header span{
    color:white;
    font-family: 'Source Code Pro', monospace;
}
.site-header span:last-of-type{
    color:red;
    font-family: 'Source Code Pro', monospace;
}
.shankly-hr{
    width: 3em;
}
#navigation-state:before{
    content: "\f0c9";
}

#navigation-check-state:checked + .navigation{
    display: block;
}
.navigation ul li{
    width: 100%;
    list-style-type: none;
    margin-bottom: 0.5rem;
    text-align: center;
    opacity: 0;
    animation: navItemIn 0.3s 1 forwards;
}
.navigation li:nth-child(1){animation-delay: 0.15s}
.navigation li:nth-child(2){animation-delay: 0.30s}
.navigation li:nth-child(3){animation-delay: 0.45s}
.navigation li:nth-child(4){animation-delay: 0.60s}
.navigation li:nth-child(5){animation-delay: 0.75s}   