.news-feed{
    display: flex;
}
.latest-news,.news-livescore{
    border-bottom: 1px solid red;
    width: 7em;
    margin-bottom: 1.5em;
    margin-left: 0.5em;
}
.news-livescore{
    width: 5.5em;
}
.news-wrapper{
    // width: 65%;
    padding-right: 0.5em;
    margin-right: 1em;
    background: $newsBackgroundColor;
    padding-top: 1em;
    padding-bottom:1em; 
  
}
.livescore{
    padding-top:1em;
    width: 40%;
}
.news-info-wrapper{    
    height: $newsFixedHeight;
    display: flex;
    margin-left: 0.5em;
    p{
        padding-bottom: 1em;
        padding-left: 1em;
        font-weight: bold;
        overflow: auto;
    }
    span{
        padding-left: 1em;
    }
}
.livescore-wrapper{
    padding: 1em 0.5em 1em 0;
    height: 164px;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scores{
    // padding-right: 0.5em;
    width: 100%;
    text-align: left;
    p{
        font-weight: bold;
        padding-bottom: 1em;
        border-bottom: 2px solid black;
    }
}