.news-feed{
    display: flex;
    flex-direction: column;
}
.latest-news,.news-livescore{
    border-bottom: 1px solid red;
    width: 7em;
    margin-bottom: 1.5em;
    margin-left: 0.5rem;
}
.news-livescore{
    width: 5.5em;
}
.news-wrapper{
    // width: 65%;
    padding-right: 0.5em;
    margin:0;
    background: $newsBackgroundColor;
    padding-top: 1em;
    padding-bottom:1em; 
  
}
.livescore{
    padding-top:1em;
    width: 100%;
    display: none;
}
.news-info-wrapper{    
    height: $newsFixedHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
    p{
        padding-bottom: 1em;
        padding-left: 1em;
        font-weight: bold;
        overflow: auto;
    }
    span{
        padding-left: 1em;
    }
}
.livescore-wrapper{
    padding: 1em 0.5em 1em 0;
    height: auto;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scores{
    // padding-right: 0.5em;
    width: 100%;
    text-align: left;
    p{
        background: #A6A6A6;
        font-weight: bold;
        padding: 0.5em 0;
        border-bottom: 2px solid black;
    }
}
#livescore-check-state{
    display: none;
}
#livescore-check-state:checked + .livescore-help-wrapper .livescore{
 display: block;
}
#livescore-state{
    font-weight: bold;
    font-size: 1.5em;
    // background: linear-gradient(to right,orange,red);
    padding: 0.5rem;
    margin-top:0.5rem;
}
#livescore-state:before{
    content: "\f150";
}
#livescore-check-state:checked + .livescore-help-wrapper #livescore-state::before{
    content: '\f00d';
}



