body.register .welcome,body.register .best-players,
body.register .best-matches-wrapper,body.register .news-feed,body.register footer,
body.register .players-hr{
    display: none;
}
.register-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}
.left-register-box{
    padding: 2em; 
}
.left-register-box span{
    font-size: 1.2em;
    margin-bottom: 1rem;
}
.left-register-box,.right-register-box{
    width: 50%;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-register-box input{
    margin-bottom: 2rem;
    outline: none;
    border:none;
    border-bottom: 1px solid #AAA;
    background: #E6E6E6;
}
.left-register-box input:focus{
    border-bottom: 2px solid red;
}
.left-register-box button{
    padding: 0.4em 1.2em;
    background: black;
    color:red;
    border-radius: 0.5rem;
}
.left-register-box button:focus{
    outline: none;
}
.left-register-box button:hover{
    background: red;
    color:black;
}
.right-register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    background-position: center;
}
.right-register-box button{
    border:none;
    margin-bottom: 1rem;
    color:white;
    padding: 0.5em 2em;
    width: 14em;
    font-size: 1.2em;
    opacity: 0.8;
}
.facebook-login{
background:#32508E;
}
.twitter-login{
    background:#55ACEE;
}
.google-login{
    background: #DD4B39;
}
.facebook-login:hover,.twitter-login:hover,.google-login:hover{
    box-shadow: 0 0 5em 0.1em rgba(0,0,0,0.20);
}
