$backgroundColor: #E6E6E6;
$siteHeaderBackgroundColor: #252525;
$siteTitleFontSize: 2em;
$mainBoxShadow: 0 0 5em 0.1em rgba(0,0,0,0.50);
$newsBackgroundColor: #A6A6A6;
$newsFixedHeight: 128px;
$hrWidth:7.5em;
$borderColor: 1px solid black;
$goalkeepersHonoursColor:#D5E4EC;
$goalkeepersTeamColor:#ECE4D5;
$fixedSize: 258px;
$picsFixedSize:256px;
$attackerHeight:30rem;
$attackerWidth:50vw;
$aboutBanner: 40rem;
$opacitySize: 0.8;
$calcSize: calc(100%/3);
$formHeight: 100vh;