.welcome{
    margin:0 auto;
    box-shadow: $mainBoxShadow;
    
}
.welcome-image{
    max-width: 100%;
    height: auto;
    background-image: url('https://www.bestwestern.co.uk/images/default-source/Inspire-Me/old-trafford-manchester-united.jpg?sfvrsn=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin:0;
    overflow: hidden;
   @include flexColumnStyle;
    p{
        color:white;
        font-weight:bold;
        max-width: 50%;
        text-align: center;
        padding-bottom: 0;
        margin-top: 2em;
        background: black;
        opacity: 0.7;
    }
    .blockquote{
        font-style: italic;
        text-align: right;
        padding:0.5em;
        margin: 0.5em;
    }
}